body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
}

.page {
  width: 1000px;

  margin: 65px auto 0;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

ul {
  display: flex;

  list-style: none;

  gap: 48px;
  margin: 0;
  padding: 0;
}

a {
  color: #1F1534;
  text-decoration: none;
}

ul li a:hover {
  font-weight: bold;
}

h1,
ul {
  font-family: 'Mulish', sans-serif;
}

h1 {
  line-height: 56px;

  color: #1F1534;

  font-weight: normal;
  font-size: 49px;
}

h1 span {
  color: #89C5CC;

  font-weight: bold;
}

p {
  font-size: 14px;

  line-height: 28px;

  margin: 40px 0;

  color: #7D7987;
}

button {
  font-family: 'Open Sans', sans-serif;
  color: white;

  border: none;
  border-radius: 5px;
  background-color: #69B99D;

  padding: 14px 32px;
  gap: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

button:hover {
  background-color: #54a88b;
  transition: all;
}

footer {
  font-size: 14px;

  line-height: 28px;
  text-align: center;

  margin-top: 80px;
}

footer a {
  font-weight: bold;
}