* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Epilogue', sans-serif;
  --ff-texting: 'Open sans', sans-serif;

  --hue: 250;
  --bg-primary: hsl(var(--hue), 22%, 20%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue) 50%, 80%);
  --fc-secondary-dark: hsl(var(--hue), 100%, 11%);

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 5.6rem);
}

body {
  font-family: var(--ff-texting);
  color: var(--fc-primary);

  background-color: var(--bg-primary);
  font-size: var(--fs-body);
}

.page {
  max-width: 33rem;

  margin: 0 auto;
}

@media (min-width: 700px) {
  :root {
    --fs-header: 5.6rem;
  }

  .page {
    max-width: 117rem;
    padding: 0 5rem;
  }

  main {
    padding-bottom: 7rem;
    grid-template-areas: "A B B"
    "C C D"
    ;
  }

  main div:nth-child(1){
    grid-area: A;
  }

  main div:nth-child(2){
    grid-area: B;
  }

  main div:nth-child(3){
    grid-area: C;
  }

  main div:nth-child(4){
    grid-area: D;
  }
}

@media (min-width: 1200px) {
  :root {
    --fs-header: 5.6rem;
  }

  .page {
    max-width: 175rem;
    padding: 0 10rem;
  }

  main {
    grid-template-areas: "A B B"
    "C C D"
    ;
  }

  main div:nth-child(1){
    grid-area: A;
  }

  main div:nth-child(2){
    grid-area: B;
  }

  main div:nth-child(3){
    grid-area: C;
  }

  main div:nth-child(4){
    grid-area: D;
  }
}

img {
  width: 100%;
  height: auto;
}

header {
  font-family: var(--ff-heading);

  text-align: center;

  margin: 10rem 0 8rem;
}

header p {
  color: var(--fc-secondary);
  text-transform: uppercase;
  font-weight: 400;

  letter-spacing: 3px;
  line-height: 3.2rem;

  margin-bottom: 1.7rem;

  animation: topdown 700ms;
}

header h1 {
  font-weight: 800;
  font-size: var(--fs-header);

  line-height: 4.8rem;
}

main {
  display: grid;
  gap: 3.2rem;

  animation: downtop 700ms;
}

.card {
  position: relative;

  font-family: var(--ff-heading);
}

.card img {
  height: 41.6rem;
  object-fit: cover;

  border-radius: 6px;

  transition: all 500ms;

  filter: brightness(0.5);
}

.card img:hover {
  transform: scale(1.1);
  filter: brightness(1);
}

.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;

  font-size: 3.6rem;
  font-weight: 800;

  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.card h2 span {
  border-radius: 2rem;

  background-color: var(--fc-primary);
  font-size: var(--fs-body);
  color: var(--fc-secondary-dark);
  font-weight: 400;

  padding: 0 1.6rem;
  height: 3.8rem;

  display: inline-flex;
  align-items: center;

  width: fit-content;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}