* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Poppins', sans-serif;
  --text-color: #303030;

  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%)
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: rgb(244, 248, 248);
}

body * {
  font-family: var(--ff-primary)
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

button {
  background-color: var(--primary-color);
}

#app {
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

